.container {
  width: 65%;
  margin: 0 auto;
  background-color: #fff;
}

body {
  margin: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  text-align: right;
  font-size: 20px;
  align-items: center;
  height: 90px;
  }
header nav a {
  text-decoration: none;
  margin: 0 15px;  
}  
section {
  background-color: #A9A9A9;
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
}

.small {
  font-size: 20px;
  color: white;
}
.big {
  font-size: 50px;
  color: white;
}
main {
  text-align: center;
  margin: 10px 10px;
}
article {
  display: inline-block;
  padding: 25px 25px;
  text-align: center;
  text-decoration: none;
  width: 240px;
  background-color: white;
  box-shadow: 3px 3px 8px 2px #0000001f;
}

header nav ul {
  display: flex;
  margin: 0;
}

header nav li {
  list-style-type: none;
}
.rounded-link {
  background: grey;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 25px;
  color: white;
  border-radius: 50px;
  display: inline-block;
}
.rounded-link:hover {
  background: black;
  color: white;
}
.big {
  margin-top: 0;

}

.section-grey {
  position: relative;
}

.line {
  position: absolute;
  top: 100%;
  height: 88px;
  left: 0;
  right: 0;
  background: darkgrey;
  z-index: -1;

}